body{
    background-color: rgb(177, 177, 177);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

nav {
    order: 0;
    margin: 0px;  
    flex-shrink: 1;
}

button {
    padding: 10px;
    margin: 2px;
    border-radius: 30px;
    border: 0px;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px;
}
#content {
    order: 1;
    width: 100%;
}

button#new {
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
}

.list {
    background-color: blueviolet;
    height: 100px;
    border: 1px black solid;
}